<#@ template debug="false" hostspecific="false" language="C#" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
<#@ output extension=".txt" #>

<# 
	string name = "Kircho";
	#>

Hello there,<#= name #>

<# 
	for	(int i = 0;i < 10;i++)
	{
		PritnIndex(i);
	}
	#>

<#+ 
	void PritnIndex(int i)
	{
		Write(i.ToString());
	}
	#>